//Variables
    $mobile: 320px;
    $tablet: 768px;
    $desktop: 1440px;
    //styles

@mixin border{
    border: solid darkgray 4px;
    background-color: smokewhite;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai', monospace; 
    background-color: darkseagreen;
    padding: 1.5 rem;
}

#title {
    background-color: black;
    color: white;
    width: 300px; 
}

#gameConfigForm {
    position: relative;
    background-color: whitesmoke;
    width:  300px;
    margin: auto;
    padding: 1rem;
    border-radius: 4px; 

    .closebtn {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    width: 25px;
    height: 25px;
    background-color: salmon;
    top: 0px;
    right: 0px;
    }
    label {
        font-weight: bold;
        margin: 0.5rem auto;
        display: block;
    }
    #submit {
    display: block;
    margin:  1rem auto;
    background-color: black;
    color: white;
    padding: 0.5rem;
    // border-radius: 10px;
    border-style: none;
    }
}

main {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);    
    border-radius: 4px;
}
.game-board {
    margin: 2.5rem;
    display: inline-block;

    .row {
    display: flex;
    }
    .game-field {
      display: inline-block;    
      outline: 8px solid black;
      border-radius: 5px;
      width: 100px;
      height: 100px;
      background-color: whitesmoke;
    }
}


.game-field:hover {
    background-color: grey;
  }


#restartBtn {
    display: block;
    position: absolute;
    right: 5vw;
    bottom: 1rem;
    background-color: black;
    color: white;
    transform: translateX(-50%);
    padding: 0.5rem;
    border-radius: 4px;
    border-style: none;
}

  //-------------
.cpu-turn {
    user-select: none;
    background-image: linear-gradient(rgba(5, 5, 5, 0.5),  rgba(5, 5, 5, 0.5)),
}

// Modal 
.modal {
    @extend #gameConfigForm;
    
}

//General --------------------------------------------

.hidden {
    display: none;
}

.select {
    text-align:center;
    vertical-align: center;
}